.dataSharing {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    button {
        margin: 10px;
    }
}

.DataSharing2 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}