.componentsScreen,
.componentsScreen2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        margin-top: 15px;

        span {
            color: white;
        }
    }


}

.component {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;

    img {
        width: 150px;
        height: 150px;
    }
}