.modalScreen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modalScreen__modal {
    // left: 45% !important;
    // top: 10px !important;
    width: 100%;
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBody {
    // position: absolute;
    // z-index: 100;
    background-color: white;
    padding: 4%;

    // top: 40%;
    // max-width: 90%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // margin: auto;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: red;
}