.modalScreen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modalScreen__modal {
    width: 100%;
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBody {

    background-color: white;
    padding: 4%;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: red;
}